/project/Retaking Olympos/Temp
/project/Retaking Olympos/Library
/project/Retaking Olympos/Obj
/project/Retaking Olympos/UnityGenerated
/project/Retaking Olympos/Build
/project/Retaking Olympos/Builds
/project/Retaking Olympos/Assembly-CSharp.csproj
/*.sln
*.suo
*.user
*.userprefs
